provider_profile = <aws_profile>
env = <env_name>
project = <project_name>
region = <aws_region_name>
workload_account_id = <aws_account_id>
network_account_id = <aws_account_id>
log_account_id = <aws_account_id>
db_name = <doc_db_name>
requested_db_instance_count = <integer>
is_create_from_snapshot = <boolean>
snapshot_id = <db_snapshot_arn>
kms_key_arn = <kms_key_arn>
is_alt_domain = <boolean>
alt_domain_name = <custom_domain_name>
domain_cert_arn = <domain_cert_arn>
cognito_domain_name = <custom_domain_name>
cognito_domain_cert_arn = <domain_cert_arn>
is_cost_saving = <boolean>