*.ps1
auth/
deployment/
frontend/node_modules/
gateway/
workout/appspec.yml
workout/deploy-revision.json
workout/task-def.json
**/.gradle/
**/.vscode/
**/bin/
**/build/
**/.terraform/
**/*.tfstate
**/*.tfvars
**/backend.hcl