provider_profile = <aws_profile>
network_account = <aws_account_id>
prod_account = <aws_account_id>
env       = <env_name>
project   = <project_name>
region = <aws_region_name>
vpc_cidr  = <cidr_range>
requested_az_count = <integer>
is_cost_saving = <boolean>